body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: moccasin;
    font size: 24 px;

}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: maroon;
    text-align: center;

}